@font-face {
    font-family: "Oswald-Demibold";
    src: url(Oswald-DemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Oswald-Demibold";
    src: url(RobotoCondensed-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
.r {
    font-family: "Oswald-Demibold";
}
.rb {
    font-family: "Oswald-Demibold";
}
